* {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.her-image {
    width: 100%;
    /* se coloca para que la imagen siempre se vea completa */
    object-fit: contain;
}
